:root {
    --black: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --light-pink: #F8F8F8;
    --white: #FFFFFF;
    --grey: #5D5D5D;
    --light-grey: #FBFBFB;
    --mid-grey: #E1E1E1;
    --dark-grey: #6F6E6E;
    --light-beige: #F8F3F4;
    --grey-grey: #A4A4A4;
}

body {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black);
    position: relative;

}

.header__logo {
    margin: 0 41px 0 0;
}

.header__logo:hover {
    opacity: 0.6;
}

.header__wrapper {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    margin: 0 0 0 34px;
}

.header__search {
    fill: var(--white);
}

.header__search:hover {
    fill: var(--dark-pink);
}

.header__button {
    border: none;
    background-color: transparent;
    min-height: 75px;
    fill: var(--white)
}

.header__button:hover {
    fill: var(--dark-pink);
}

.header__navigation {
    position: absolute;
    background-color: var(--white);
    box-shadow: 5px 5px 5px 5px var(--light-grey);
    right: 0;
    top: 75px;
    width: 750px;
    min-height: 764px;
    z-index: 1;
    display: none;
}

.header__button:hover+.header__navigation {
    display: block;
}

.header__navigation:hover {
    display: block;
}

.header__menu-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    margin: 37px 0 0 33px;
}

.header__menu-item {
    margin: 20px 0 0 33px;
}

.header__menu-item__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--dark-pink);
    text-decoration: none;
}

.header__menu-item__link:hover {
    text-decoration: underline;
}

.header__menu-sublist__item {
    margin: 11px 0 0 22px;
}

.header__menu-sublist__item__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--dark-grey);
    text-decoration: none;
}

.header__menu-sublist__item__link:hover {
    text-decoration: underline;
}

.header__link {
    fill: var(--white);
}

.header__link:hover {
    fill: var(--dark-pink);
}

.promo {
    display: flex;
    margin: 0 0 63px 0;
}

.promo__heading-wrapper {
    background-color: var(--pink);
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
}

.promo__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    position: relative;
}

.promo__heading::before {
    content: url(../img/pink-border.svg);
    margin-right: 16px;
    position: absolute;
    left: -25px;
}

.promo__subheading {
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.promo__subheading-pink {
    color: var(--dark-pink);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.categories__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories__item_woman {
    background-image: url(../img/categories-woman.jpg);
}

.categories__item_man {
    background-image: url(../img/categories-man.jpg);
}

.categories__item_kids {
    background-image: url(../img/categories-kid.jpg);
}

.categories__item_accessories {
    background-image: url(../img/categories-accessories.jpg);
    background-repeat: no-repeat;
    flex-grow: 1;
    margin: 30px 0 0 0;
    min-height: 180px;
}

.categories__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--white);
}

.categories__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--dark-pink);
}

.products {
    margin-top: 97px;
}

.products__heading {
    width: 186px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: var(--black);
}

.products__text {
    width: 336px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
}

.products__list {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
}

.products__item {
    width: 360px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--light-pink);
}

.products__item:nth-child(3n) {
    margin-right: 0;
}

.products__item-heading {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.products__item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-top: 13px;
    color: var(--grey);
}

.products__item-text_pink {
    color: var(--dark-pink);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 18px;
}

.products__item-wrapper {
    margin: 25px 28px 20px 16px;
}

.products__item-button {
    display: none;
}

.products__button {
    min-width: 211px;
    margin: 0 auto;
    display: flex;
    margin-top: 18px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-pink);
    border: 1px solid var(--dark-pink);
    padding: 14px 38px 13px 38px;
    background-color: var(--white);
}

.advantages {
    background-color: var(--black);
    margin-top: 100px;
}

.advantages__wrapper {
    min-height: 341px;
    display: flex;
    align-items: center;
}

.advantages__list {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 103px;

}

.advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.advantages__img {
    margin-bottom: 25px;
}

.advantages__heading {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 16px;
}

.advantages__text {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--light-grey);
    margin-bottom: 104px;
}

.footer__top {
    background-image: url(../img/subscribe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 448px;
}

.footer__top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__quote-block {
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 448px;
    align-items: center;
    justify-content: space-between;
}

.footer__subscribe-block {
    display: flex;
    flex-direction: column;
}

.footer__quote {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 360px;
    min-height: 99px;
    margin-bottom: 126px;
}

.footer__customer-img {
    margin-top: 87px;
}

.footer__quote_italic {
    font-style: italic;
}

.footer__text_uppercase {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
}

.footer__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}


.footer__bottom {
    min-height: 79px;
    background-color: var(--black);
}

.footer__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}

.footer__list {
    display: flex;
}

.footer__item {
    width: 32px;
    height: 32px;
    background-color: var(--white);
    position: relative;
    margin-right: 5px;
    display: flex;
}

.footer__icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 8px;
}

.footer__item:hover {
    background-color: var(--dark-pink);
}

.footer__icon:hover {
    fill: var(--white);
}

.footer__copyright {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--white);
}

.footer__quote {
    quotes: var(--black);
}

.footer__form {
    margin-top: 32px;
    display: flex;
}

.footer__input {
    height: 49px;
    width: 256px;
    background-color: var(--mid-grey);
    border: none;
    padding: 7px 0 6px 22px;
    -webkit-border-top-left-radius: 175px;
    -webkit-border-bottom-left-radius: 175px;
    -moz-border-radius-topleft: 175px;
    -moz-border-radius-bottomleft: 175px;
    border-top-left-radius: 175px;
    border-bottom-left-radius: 175px;
}

.footer__button {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--white);
    background-color: var(--dark-pink);
    border: none;
    width: 100px;
    padding: 7px 7px 6px 8px;
    -webkit-border-top-right-radius: 175px;
    -webkit-border-bottom-right-radius: 175px;
    -moz-border-radius-topright: 175px;
    -moz-border-radius-bottomright: 175px;
    border-top-right-radius: 175px;
    border-bottom-right-radius: 175px;
}

.footer__input:hover {
    border: 1px solid var(--grey);
}

.footer__button:hover {
    border: 1px solid var(--white);
}

.flex-wrapper {
    display: flex;
    margin: 64px 0 96px 0;
}

.heading-wrapper {
    min-height: 148px;
    background-color: var(--light-beige);
    display: flex;
    align-items: center;
}

.registration__heading-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--dark-pink);
}

.registration {
    width: 360px;
}

.loyality {
    width: 652px;
    margin: 0 0 0 130px;
}

.registration__fieldset__legend {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.registration__fieldset__input {
    width: 360px;
    height: 45px;
    margin: 20px 0 0 0;
    border-color: var(--grey-grey);
    padding: 0 0 0 17px;
}

..registration__button {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--dark-pink);
    border: none;
    padding: 16px 0 17px 0;
    margin: 39px 0 0 0;
    width: 167px;
    position: relative;
}

.registration__button::before {
    content: url(../img/arrow.svg);
    position: absolute;
    right: 20px;
}

input#female,
input#male {
    width: 17px;
    height: 17px;
}

.registration__fieldset__label {
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    margin: 0 20px 0 10px;
}

.registration__fieldset-wrapper {
    margin: 0 0 35px 0;
}

::-webkit-input-placeholder {
    color: var(--mid-grey)
}

::-moz-placeholder {
    color: var(--mid-grey)
}

/* Firefox 19+ */
:-moz-placeholder {
    color: var(--mid-grey)
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: var(--mid-grey)
}

.registration__fieldset__text {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin: 15px 0 0 0;
    color: var(--grey-grey);
}

.registration__button {
    margin: 40px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--dark-pink);
    border: none;
    padding: 16px 66px 17px 29px;
    position: relative;
}

.registration__button::before {
    content: url(../img/arrow.svg);
    position: absolute;
    right: 20px;
}

.loyality__heading {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0 0 22px 0;
}

.loyality__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin: 0 0 21px 0;
}

.loyality__list {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin: 0 0 0 25px;
}

.loyality__item {
    margin: 0 0 16px 22px;
    position: relative;
}

.loyality__item::before {
    content: url(../img/list-marker.svg);
    position: absolute;
    left: -40px;
}